name: Build and Deploy

on:
  push:
    branches: [ main ]
    paths:
      - 'app/main.go'
env:
  IMAGE_NAME: ${{ secrets.DOCKERHUB_USERNAME }}/hello-app

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Login to DockerHub
      uses: docker/login-action@v3
      with:
        registry: docker.io
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build and push
      uses: docker/build-push-action@v5
      with:
        context: .
        push: true
        tags: |
          ${{ env.IMAGE_NAME }}:latest
          ${{ env.IMAGE_NAME }}:${{ github.sha }}

  deploy-to-gke:
    needs: build-and-push
    runs-on: ubuntu-latest
    steps:
    - name: Setup gcloud
      uses: google-github-actions/setup-gcloud@v2
      with:
        project_id: ${{ secrets.GCP_PROJECT_ID }}
        service_account_key: ${{ secrets.GCP_SA_KEY }}
        export_default_credentials: true
    - name: Authenticate with gcloud
      run: |
          echo "${{ secrets.GCP_SA_KEY }}" | gcloud auth activate-service-account --key-file=-
          gcloud config set project ${{ secrets.GCP_PROJECT_ID }}
          gcloud auth application-default login
    - name: Configure kubectl
      run: |
        gcloud container clusters get-credentials hello-cluster \
          --zone ${{ secrets.GCP_ZONE }} \
          --project ${{ secrets.GCP_PROJECT_ID }}

    - name: Update deployment
      run: |
        kubectl set image deployment/hello-server hello-app=${{ env.IMAGE_NAME }}:${{ github.sha }}
